.root {
  width: 100%;
  background-color: var(--color-mint-light);
  padding-block: 54px;
  border-radius: var(--border-radius-m);
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-padding-m);
  align-items: center;
  max-width: 480px;
  margin: auto;
}

.bottom {
  margin-top: 32px;
}
