.root {
  container-type: inline-size;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 32px;
}

@container (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-padding-s);
  }
}

.fieldset {
  container-type: inline-size;
  container-name: fieldset;
  display: flex;
  flex-direction: column;
  gap: var(--gap-padding-m);
}

.formTitle {
  padding-bottom: 12px;
  border-bottom: 1px solid var(--color-ghost);
}

.rowFields {
  display: flex;
  gap: var(--gap-padding-m);
}

@container fieldset (max-width: 500px) {
  .rowFields {
    flex-direction: column;
    gap: var(--gap-padding-s);
  }
}
