.root {
  margin: 0;
  padding: 0;
}

/* Text size and family by type */
.title1 {
  font-family: var(--font-family-title);
  font-size: 48px;
  line-height: 60px;
}

.title2 {
  font-family: var(--font-family-title);
  font-size: 36px;
  line-height: 44px;
}

.text1 {
  font-family: var(--font-family-title);
  font-size: 18px;
  line-height: 28px;
}

.text2 {
  font-family: var(--font-family-title);
  font-size: 16px;
  line-height: 24px;
}

.text3 {
  font-family: var(--font-family-title);
  font-size: 14px;
  line-height: 20px;
}

/* Text font-weight */
.regular {
  font-weight: 400px;
}

.medium {
  font-weight: 500px;
}

.semibold {
  font-weight: 600px;
}

/* Text colors */
.primary {
  color: var(--color-charcoal);
}

.secondary {
  color: var(--color-white);
}

.accent {
  color: var(--color-slate);
}

.error {
  color: var(--color-error);
}

.info {
  color: var(--color-deep-gray);
}

.hint {
  color: var(--color-steel);
}

/* Align position */
.start {
  text-align: start;
}

.center {
  text-align: center;
}

.end {
  text-align: end;
}
