.root {
  margin: 0;
  padding: 0;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;

  --font-size-title-1: 48px;
  --font-line-height-title-1: 60px;

  --font-size-title-2: 36px;
  --font-line-height-title-2: 44px;

  --font-size-text-1: 18px;
  --font-line-height-text-1: 28px;

  --font-size-text-2: 16px;
  --font-line-height-text-2: 24px;

  --font-size-text-3: 14px;
  --font-line-height-text-3: 20px;
}

/* Text size and family by type */
.title1 {
  font-family: var(--font-family-title);
  font-size: var(--font-size-title-1);
  line-height: var(--font-line-height-title-1);
}

.title2 {
  font-family: var(--font-family-title);
  font-size: var(--font-size-title-2);
  line-height: var(--font-line-height-title-2);
}

.text1 {
  font-family: var(--font-family-title);
  font-size: var(--font-size-text-1);
  line-height: var(--font-line-height-text-1);
}

.text2 {
  font-family: var(--font-family-title);
  font-size: var(--font-size-text-2);
  line-height: var(--font-line-height-text-2);
}

.text3 {
  font-family: var(--font-family-title);
  font-size: var(--font-size-text-3);
  line-height: var(--font-line-height-text-3);
}

/* Text font-weight */
.regular {
  font-weight: var(--font-weight-regular);
}

.medium {
  font-weight: var(--font-weight-medium);
}

.semibold {
  font-weight: var(--font-weight-semibold);
}

/* Text colors */
.primary {
  color: var(--color-charcoal);
}

.secondary {
  color: var(--color-white);
}

.accent {
  color: var(--color-slate);
}

.error {
  color: var(--color-error);
}

.info {
  color: var(--color-deep-gray);
}

.hint {
  color: var(--color-steel);
}

/* Align position */
.start {
  text-align: start;
}

.center {
  text-align: center;
}

.end {
  text-align: end;
}
