.root {
  display: flex;
  flex-direction: column;
  gap: var(--gap-padding-s);
  flex: 1;

  --field-default-shadow-color: color-mix(
    in srgb,
    var(--color-charcoal),
    transparent 95%
  );
}

.root input,
.root textarea {
  padding-inline: 16px;
  padding-block: 8px;
  border: 1px solid var(--color-silver);
  border-radius: var(--border-radius-s);
  box-shadow: var(--shadow-s)
    color-mix(in srgb, var(--color-charcoal), transparent 95%);
  outline: none;
}

.root input:focus,
.root textarea:focus {
  border: 1px solid var(--color-success);
  box-shadow: var(--shadow-m) var(--color-success-light);
}

.root input[aria-invalid="true"],
.root textarea[aria-invalid="true"] {
  border: 1px solid var(--color-error-medium);
  box-shadow: var(--shadow-m) var(--color-error-light);
}

.input::placeholder {
  color: var(--color-steel);
}
